{% extends "app/template.html.twig" %}
{% block main %}
	<div class="newlist">
		<form action="{{ url('app.list.create') }}" method="POST">
			<input type="text" name="newList" placeholder="List name">
			<input type="submit">
		</form>
	</div>

{% endblock %}
