{% extends "app/template.html.twig" %}
{% block main %}
	<h1>{{listname}}</h1>
	<table class="taskListTable">
		<tr class="headingRow">
			<td>Task</td>
			<td>Created</td>
			<td></td>
			<td></td>
		</tr>
		{# not completed tasks #}

		{% if not tasks %}
			<tr class="notasks">
				<td colspan="100%">
					No tasks
				</td>
			</tr>
		{% else %}

			{% for task in tasks %}
				<tr class="task">
					<td>
						{{task.title}}
					</td>
					<td>
						{{task.created|date('d.M. Y H:i ')}}
					</td>
					<td>
						<a href="{{ url('app.task.complete', {id: task.id}) }}" class="completebtn" title="Complete task">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewbox="0 0 16 16">
								<path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7l-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
								<path d="M5.354 7.146l.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
							</svg>
						</a>
						<a href="{{ url('app.task.delete', {id: task.id}) }}" class="deletebtn" title="Delete task">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
								<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
							</svg>
						</a>
					</td>
				</tr>
			{% endfor %}
		{% endif %}

		<tr class="inputRow">
			<td colspan="100%">
				<form action="{{ url('app.task.create')}}" method="POST">
					<input type="text" name="newTask" placeholder="New task" autocomplete="off">
					<input type="submit">
				</form>
			</td>
		</tr>
		<tr class="completedHeading">
			<td colspan="100%">
				Completed</td>
		</tr>
		<tr class="headingRow">
			<td>Task</td>
			<td>Created</td>
			<td>Completed</td>
			<td></td>
		</tr>
		{# Completed tasks #}
		{% if not tasks %}
			<tr class="notasks">
				<td colspan="100%">
					No completed tasks
				</td>
			</tr>
		{% else %}
			{% for task in completed %}
				<tr class="completedTask">
					<td>
						{{task.title}}
					</td>
					<td>
						{{task.created|date('d.M. Y H:i ')}}

					</td>
					<td>
						{{task.completed|date('d.M. Y H:i ')}}

					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
{% endblock %}
