{% extends "base.html.twig" %}
{% block body %}
	<div class="site">
		<div class="sidebar">
			<a href="#">just<span>another</span>todo</a>
			<ul>
				{% for list in lists %}
					<li>
						<a href="{{ url('app.list', {id: list.id}) }}">{{list.title}}</a>
					</li>
				{% endfor %}
				<li>
					<a href="{{ url('app.list.create') }}">New</a>
				</li>
			</ul>
			<a href="{{url('auth.logout')}}">Logout</a>
		</div>
		<div class="main">
			{% block main %}{% endblock %}
		</div>
	</div>
{% endblock %}
