{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="login-wrapper">
		<div class="message">
			<span class="logo">Just<span>another</span>todo</span>
			<br>
			Register
		</div>
		<form method="post">
			{% if error is defined%}
				<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="error" role="alert">{{ flashError }}</div>
			{% endfor %}


			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm.email) }}
			{{ form_widget(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn">Register</button>
			{{ form_end(registrationForm) }}
		</form>
	</div>
{% endblock %}
