@import "vars";

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.sf-dump {
    position: fixed !important;
    word-break: break-all !important;
    z-index: 10 !important;
    width: 100vw !important;
    top: 0px !important;
}
.site {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

// list page view
.taskListTable {
    width: 100%;
    border-collapse: collapse;
    tr {
        td {
            padding: 0.5em;
            &:nth-child(1) {
                width: 70%;
            }
        }
        &.headingRow {
            color: $main_dark_color;
            font-weight: bold;
            border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
        }
        &.task {
            border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
            td {
                &:last-child {
                    text-align: right;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        margin-left: 1em;
                        svg {
                            width: 1.2em;
                            height: 1.2em;
                        }
                        &.completebtn {
                            color: green;
                        }
                        &.deletebtn {
                            color: rgb(170, 26, 26);
                        }
                    }
                }
            }
        }
        &.completedHeading {
            td {
                font-weight: bold;
                padding-top: 2em;
                color: $main_color;
            }
        }
        &.completedTask {
            color: rgba($color: black, $alpha: 0.5);
        }
        &.inputRow {
            td {
                padding-left: 0px;
                form {
                    input[type="text"] {
                        width: 40vw;
                        display: inline-block;
                        padding: 1em;
                        border: none;
                        border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
                    }
                    input[type="submit"] {
                        display: inline-block;
                        padding: 1em;
                        border: none;
                        background-color: $main_color;
                        color: white;
                    }
                }
            }
        }
        &.notasks {
            td {
                text-align: center;
                color: rgba($color: black, $alpha: 0.4);
                padding: 1em;
            }
        }
    }
}

// login page
.login-wrapper {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -2vw;
        left: 0;
        width: 100vw;
        height: 9vw;
        background-color: $main_dark_color;
        transform: skewY(-2deg);
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4vw;
        left: 0;
        width: 100vw;
        height: 10vw;
        background-color: $main_dark_color;
        transform: skewY(2deg);
    }
    .message {
        padding-left: 15vw;
        text-align: right;
        font-size: 1.4em;
        font-weight: lighter;
        padding-right: 25vw;
        .logo {
            @include logo;
            font-size: 2.5em;
            position: relative;
            top: 0.2em;
        }
    }
    form {
        display: block;
        border-left: 2px solid $main_color;
        padding: 4em 2em;
        width: 20vw;
        .error {
            color: red;
            padding: 1em 0px;
        }
        input {
            display: block;
            width: 100%;
            padding: 0.6em 1em;
            font-size: 1em;
            outline: none;
            margin-bottom: 1.5em;
            border: 1px solid lighten($color: $main_dark_color, $amount: 30);
        }
        button {
            display: block;
            width: 100%;
            border: none;
            background-color: $main_color;
            color: white;
            text-align: center;
            font-size: 1.1em;
            padding: 0.6em;
            border: 2px solid $main_color;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $main_color;
            }
        }
    }
}

// new list page
.newlist {
    height: 100%;
    form {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        input{
            display: inline-block;
            align-self: center;
            padding: 1em;
            &[type="text"]{
                background-color: transparent;
                border: 1px solid rgba($color: black, $alpha: 0.2);
                width: 30vw;
            }
            &[type="submit"]{
                background-color: $main_color;
                color: white;
                border: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
.sidebar {
    padding: 0px;
    margin: 0px;
    flex-basis: 15vw;
    background-color: $main_dark_color;
    padding-top: 2em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    & > a {
        @include logo;
        text-align: center;
        font-size: 1.7em;
        margin: auto;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 3em;
        li {
            border-bottom: 1px solid rgba($color: white, $alpha: 0.1);
            &:last-of-type {
                border-bottom: none;
            }
            a {
                font-size: 1.1em;
                display: block;
                padding: 0.7em 2em;
                color: white;
                text-decoration: none;
                &:hover {
                    background-color: rgba($color: white, $alpha: 0.1);
                }
            }
        }
    }
}
.main {
    padding: 3em;
    margin: 0px;
    flex-basis: 85vw;
    h1:first-child {
        margin-top: 0px;
    }
}
